<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="resources/style.css">
    <title th:text="#{error_page.error_title}"></title>
</head>
<body>
<h1 th:text="#{home_page.app_name}"></h1>
<p th:text="#{error_page.page_description}">Error page</p>
<div th:text="${exception + url}"></div>
<a th:href="@{/}">home</a>
</body>
</html>