<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="resources/style.css">
    <title th:text="#{home_page.home_title}"></title>
</head>
<body>
<!--/*@thymesVar id="isAuthenticated" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="isAdmin" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="userName" type="java.lang.String"*/-->
<table width="100%">
    <tr>
        <td align="left">
            <span th:text="${userName} "/> <a th:href="${isAuthenticated}? 'logout' : 'login'"
                                              th:text="${isAuthenticated}? 'logout' : 'login'"></a>
        </td>
        <td align="right">
            <a href="/fileShare?language=en" th:text="en"/> <a href="/fileShare?language=ru" th:text="ru"/>
        </td>
    </tr>
</table>

<h1 th:text="#{home_page.app_name}"></h1>
<p th:text="#{home_page.page_description}"></p>
<form action="upload" method="post" enctype="multipart/form-data">
    <input type="file" value="file" name="file">
    <input type="submit">
</form>
<br>
<!--/*@thymesVar id="files" type="java.util.List"*/-->
<div th:each="file : ${files}">
    <!--/*@thymesVar id="file" type="by.br.kir.model.FileEntity"*/-->
    <a th:switch="${isAdmin}" th:case="true"
       th:href="@{admin/remove/{id}(id=${file.getId()})}"
       th:text="DELETE "></a>
    <a th:href="@{download/{id}(id=${file.getId()})}"
       th:text="${'DOWNLOAD ' + file.getTimestamp() + ' ' + file.getOriginalFileName() + ' uploader: ' + file.getUser().getLogin()}"></a>
    <br>
</div>
</body>
</html>
